body {
    background-color: #e9ecf2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 100%;
    max-width:  400px
}

.btn-primary {
    width: 100%;
}